<div class="Page">

    <div class="row">
        <div class="col s12 m6 16">
            <h1 id="movie_name">{{movieName}}</h1>
            <p>Rating - {{contentAdvisoryRating}}</p>
            <p>Genre - {{primaryGenreName}}</p>
            <a class="buttoniTunes" href="{{movieViewUrl}}"></a>
            <div class="col s12 m12 14">
                <img class="materialboxed responsive-img" src="{{artworkUrl100}}" width="100px" height="100px">
            </div>

            <div class="divider"></div>
            <p>{{longDescription}}</p>
            <div class="divider"></div>
            <br><br><br>

        </div>

        <div class="col s12 m6 16">
            <a data-action="{{trackId}}" data-href="{{trackId}}" class="buttonAddToWatchlist waves-effect waves-light blue btn">Add to
                watchlist</a>
            <h5><i class="material-icons left"> video_library </i> Trailer </h5>
            <div class="divider"></div>
            <div class="video-container">
                <iframe width="600" height="400" src="{{youtubePreviewUrl}}" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>