<div class="Page">
            <div class="row">
                <div class="col s12">
                    <h5> Episode list </h5>

                    <div>
                        <input id="inputSearch" placeholder="Search" class="searchBar autocomplete" type="text" autocomplete='off' required>
                    </div>


                    <ul class="col s6">
                        {{#each episodes}}
                            <li><a class="waves-effect waves-light btn" href="#modal{{trackName}}">{{trackName}}</a></li>
                            <!-- Modal Structure -->
                            <div id="modal{{trackName}}" class="modal modal-fixed-footer">
                                <div class="modal-content">
                                    <h4>{{collectionName}}</h4>
                                    <div class="divider"></div>
                                    <ul>
                                        <li>Title: {{trackName}}<div class="divider"></div></li>
                                        <li><div>
                                            <img class="materialboxed responsive-img" src="{{artworkUrl100}}" width="100px" height="100px">
                                        </div><div class="divider"></div></li>
                                        <li>Description: {{longDescription}}<div class="divider"></div></li>
                                        <li><div class="video-container">
                                            <iframe width="600" height="400" src="{{previewUrl}}" frameborder="0" allowfullscreen></iframe>
                                        </div></li>
                                        <li>Duration: {{msToTime trackTimeMillis}}</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                                </div>
                            </div>
                        {{/each}}
                    </ul>
                </div>
            </div>


</div>
