<div class="Page">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h1>{{seasonTitle}}</h1>
                    <a class="buttoniTunes" href="{{seasonLink}}" id="season_link"></a>
                    <div class="divider"></div>
                    <h5> Genre </h5>
                    <ul>
                        <li>{{primaryGenre}}</li>
                    </ul>
                    <div class="divider"></div>
                    <h5> Description </h5>
                    <p>{{longDescription}}</p>
                </div>
                <div class="col s12 m6 l6">
                    <img id="tvshow_image" class="materialboxed responsive-img" src="{{artwork}}">
                    <div class="video-container">
                        <iframe width="600" height="400" src="{{sourceVideo}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <ul>
                        {{#each episodes}}
                            <li>{{trackName}}</li>
                        {{/each}}
                    </ul>
                </div>

            </div>
        </div>